#Autosave files
*~

#build stuff
bin/
obj/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/

# updated glade files
*.mono.glade
*.processed

.vs
packages