<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/logs"/>
  
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${date:format=HH\:mm\:ss} | ${pad:padCharacter= :padding=5:fixedLength=true:inner=${level}} | ${message} ${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method}}"/>
    <target name="file"
                xsi:type="File"
								fileName="${logDirectory}/log.txt"
								layout="${date:format=HH\:mm\:ss}|${pad:padCharacter= :padding=5:fixedLength=true:inner=${level}}|TN [${threadid}]: ${threadname}|${message} ${onexception: -> ${exception:format=type,message,method;maxInnerExceptionLevel=5;innerFormat=shortType,message,method} | ${stacktrace}} "
								archiveFileName="${logDirectory}/archives/log.{#}.txt"
								archiveEvery="Day"
								archiveNumbering="Rolling"
								maxArchiveFiles="7" />
  </targets>

  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="file" />
  </rules>
</nlog>
